In [5]:
import sys

sys.path.append('.')

from zoo import hours

In [6]:
hours()

open 9 to 5 daily

In [7]:
import zoo as menagerie

In [8]:
menagerie.hours()

open 9 to 5 daily

In [10]:
 pip install sqlalchemy

Requirement already satisfied: sqlalchemy in ./anaconda3/lib/python3.11/site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in ./anaconda3/lib/python3.11/site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import sqlalchemy as sa

In [14]:
import sqlite3 as sql

In [16]:
conn = sql.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE BOOKS(
TITLE VARCHAR2(50),
AUTHOR VARCHAR2(20),
YEAR INTEGER)''')

In [17]:
curs.execute('INSERT INTO BOOKS VALUES("HARRY POTTER","JK ROWLING",1992)')

In [18]:
curs.execute('INSERT INTO BOOKS VALUES("PRISONER OF ASKABAN","JK ROWLING",1999)')

In [19]:
curs.execute('INSERT INTO BOOKS VALUES("HALF BLOOD PRINCE","JK ROWLING",2005)')
curs.execute('INSERT INTO BOOKS VALUES("DEATHLY HALLOWS","JK ROWLING",2007)')

In [23]:
rows = conn.execute('SELECT TITLE FROM books')
print(rows)

<sqlite3.Cursor object at 0x106dda9c0>

In [24]:
for row in rows:
    print(row)

('HARRY POTTER',)
('PRISONER OF ASKABAN',)
('HALF BLOOD PRINCE',)
('DEATHLY HALLOWS',)